.abcd {
    background-image: url("img/stayc.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.abcdcover {
    background-color: rgba(0, 0, 0, 0.25);
}

.abcdhsatu {
    font-size: 100px;
    text-shadow: 0 0 8px white;
}

.membertitle {
    font-size: 3em;
}

.membersname {
    text-decoration: none;
    color: black;
}

.crslshadow {
    text-shadow: 0 0 5px black;    
}

/* Media Queries */
@media (max-width: 768px) {
    .abcd {
        background-image: url("img/STAYC_on_XS.jpg");
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
}

@media (max-width: 576px) {

    .abcdhsatu {
        font-size: 50px;
        display: none;
    }
    
    .abcdcover {
        background-color: rgba(0, 0, 0, 0);
    }
}

@media (max-width: 375px) {
    .abcd {
        background-position: -100px 0;
    }
}